<header id="MainNavigation" class="navigation">
    <nav class="navigation__left">
        <ul>
            <li>
                <a href="#">EXPERIENCE</a>
            </li>
            <li>
                <a href="#">GALLERY</a>
            </li>
            <li>
                <a href="#">TESTIMONIALS</a>
            </li>
        </ul>
    </nav>
    <span class="logo">CMP</span>
    <nav class="navigation__right">
        <ul>
            <li>
                <a href="#">ABOUT</a>
            </li>
            <li>
                <a href="#">BLOG</a>
            </li>
            <li>
                <a href="#">CONTACT</a>
            </li>
        </ul>
    </nav>
</header>