/* Font Size */
$root-font-size: 10px;

/* Colors */
$white: #fff;

/* Color Implementations */
$main-background-color: $white;

/* Breakpoints */
$breakpoint-small: 360px;
$breakpoint-medium: 765px;
$breakpoint-large: 960px;

/* Fonts */
$roboto: 'Roboto', sans-serif;

/* Font Implementations */
$main-body-font: $roboto;
$main-header-font: $roboto;

/* Navigation */
$navigation-height: 140px;