.navigation {
    display: none;
}

@media (min-width: $breakpoint-medium) {
    .navigation {
        align-items: center;
        display: flex;
        height: $navigation-height;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
        }

        &__left {
            margin-left: 25px;

            li:nth-child(n+1):nth-child(n+2) {
                margin-left: 15px;
            }
        }

        &__right {
            margin-right: 25px;

            li:nth-child(n+1):nth-child(n+2) {
                margin-left: 15px;
            }
        }

        .logo {
            margin-left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }
    }    
}