.hero {
    align-items: center;
    background-color: #000;
    color: $secondary-font-color;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

@media (min-width: $breakpoint-medium) {
    .hero {
        height: calc(100vh - #{$navigation-height});
        margin-top: $navigation-height;
    }
}